#wrapper {
  margin:auto;
  width:80%;
  background-color: rgb(175, 122, 79);
}

aside {
  float: left;
  height: 100%;
  background-color: rgb(94, 61, 0);
  padding:1%;
}

nav {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  width:100%;
  background-color:rgb(143, 97, 11);
}

main {
  
}

footer {
  clear: both;
  background-color: aliceblue;
}
